/* --------------General style reset---------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #1e2e36;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
html,
body {
  height: 100%;
  line-height: 1;
  background-color: #ffffff;
  font-size: 24px;
  color: #1e2e36;
  font-weight: bold;
  font-family: "Proxima Nova Regular";
}

/* CSS Code for the project */

.wrapper {
  position: relative;
  min-height: 100%;
}
.header {
  height: 165px;
  background-color: #ffffff;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
}
.header-top {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-top__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-top__socials a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 5px;
}
.header-top__phone {
  position: relative;
  margin-left: 50px;
}
.header-top__phone > a {
  padding: 0 25px;
}
.header-top__phone::before {
  position: absolute;
  left: 0;
  font-family: "icomoon";
  content: "\e906";
}
.header-top__phone::after {
  position: absolute;
  right: 0;
  font-family: "icomoon";
  content: "\e900";
}

.header-top__nav {
  margin-left: auto;
  display: flex;
}

.header-top__nav li:not(:first-child) {
  padding-left: 15px;
}
.header-top__nav a:hover {
  border-bottom: 3px #44c697 solid;
}
.header-top__nav li {
  display: inline;
}
.header__line {
  height: 1px;
  width: 100%;
  background-color: #1e2e36;
  opacity: 0.6;
}
.header-bottom {
  display: flex;
  justify-content: center;
  height: 105px;
  align-items: center;
}
.header-bottom__categories {
  margin-right: auto;
}
.header-bottom__categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-bottom__categories-list > li > a {
  padding-right: 20px;
}
.header-bottom__categories-list > li:not(:last-child) {
  margin-right: 20px;
}
.header-bottom__categories-list > li {
  position: relative;
}
.header-bottom__categories-list > li > a::after {
  position: absolute;
  right: 0;
  font-family: "icomoon";
  content: "\e900";
}
.header-bottom__cashout {
  margin-left: auto;
  line-height: 50px;
}
.header-bottom__basket {
  padding-left: 40px;
  position: relative;
}
.header-bottom__basket::before {
  position: absolute;
  left: 0;
  font-family: "icomoon";
  content: "\e907";
  font-size: 28px;
}

.header-bottom__call-btn {
  background-color: #44c697;
  border-radius: 3px;
  width: 278px;
  height: 51px;
  padding: 14px 46px;
  margin-left: 30px;
  line-height: 50px;
  color: #ffffff;
}

._container {
  max-width: 1848px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider {
  height: 785px;
  background-image: url("../img/Slider_Background_Image.jpg");
  background-size: cover;
}
.slider__container {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}
.slider__content {
  background-color: #ffffff;
  height: 670px;
  width: 462px;
  padding: 100px 75px;
  border-left: 15px solid #44c697;
}

.slider__btns-block {
  margin-bottom: 100px;
}

.slider__title {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #1e2e36;
  text-align: center;
}
.slider__subtitle {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.slider__desc {
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
  text-align: center;
}
.slider__item-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.slider__item-btn > a {
  background-color: #44c697;
  font-size: 18px;
  font-weight: bold;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  line-height: 125%;
  border-radius: 3px;
  width: 209px;
  height: 51px;
  padding: 14px 46px;
  line-height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__btns-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.slider__count {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}
.slider__count > span {
  font-size: 36px;
  line-height: 125%;
}
.slider__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btns > a {
  border: 1px #1e2e36 solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 18px;
}
.slider__btn-left {
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn-right {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btns > a:hover {
  background-color: #1e2e36;
  color: #ffffff;
}

.benefits {
  max-height: 462px;
  margin: 100px auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;

  line-height: 125%;
}

.title > h2 {
  display: inline;
  position: relative;
  z-index: 55;
}
.title > h2::before {
  background-color: #44c697;
  width: 20px;
  position: absolute;
  left: -5px;
  height: 1.15em;
  z-index: -8;
  content: "";
  text-align: center;
}

.benefits__slider {
  display: flex;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.benefits__item {
  width: 586px;
  height: 350px;
  font-size: 18px;
  line-height: 125%;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.benefits__item > .benefits__item-title > h3 {
  display: inline;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  border-bottom: #44c697 3px solid;
}
.benefits__item > p {
  margin-top: 15px;
  display: none;
}
.benefits__item:hover > p {
  display: block;
}
.benefits__arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits__arrow > i {
  font-size: 18px;
}
.benefits__arrow:hover {
  background: #ffffff;
  color: #1e2e36;
}
.benefits__arrow-left {
  margin: 160px 0 160px 15px;
  top: 0;
  left: 0;
}
.benefits__arrow-right {
  margin: 160px 15px 160px 0;
  top: 0;
  right: 0;
}
.benefits__item1 {
  background-image: url("../img/Benefits_Card_Image_1_Overlayed.jpg");
}

.benefits__item2 {
  background-image: url("../img/Benefits_Card_Image_2_Overlayed.jpg");
}

.benefits__item3 {
  background-image: url("../img/Benefits_Card_Image_3_Overlayed.jpg");
}

.benefits__item:hover {
  cursor: pointer;
}

.benefits__item > p:hover {
  display: block;
}

.categories {
  max-height: 1208px;
  margin: 100px auto 35px auto;
}
.categories__columns {
  min-height: 143px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px auto;
}
.categories__column {
  display: flex;
  flex-direction: column;

  /* width: 100%; */
}
.categories__column img {
  cursor: pointer;
}
.categories__column > h4 {
  display: inline;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-bottom: transparent 2px solid;
  line-height: 2rem;
  line-height: normal;
  color: #1e2e36;
  padding-top: 10px;
  padding-bottom: 10px;
}
.categories__column > h4:hover {
  border-bottom: #44c697 2px solid;
}

.shop-cards__boxes-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.shop-cards__box {
  margin: 50px 15px 0 15px;
}
.shop-cards__info {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-cards__image {
  position: relative;
}
.shop-cards__overlay-text {
  height: 33px;
  width: 143px;
  background-color: #1e2e36;
  position: absolute;
  top: 10px;
}
.shop-cards__overlay-discount {
  height: 33px;
  width: 84px;
  background-color: #ff1b1b;
  position: absolute;
  top: 50px;
}

.shop-cards__info > h4 {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}

.shop-cards__btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.shop-cards__btn > a {
  background-color: #44c697;
  font-size: 18px;
  font-weight: bold;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  line-height: 125%;
  border-radius: 3px;
  width: 190px;
  height: 51px;
  padding: 14px 46px;
  line-height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  /* height: 785px; */
  background-color: #ffffff;
  margin: 100px 0;
}
.about h2 {
  text-align: center;
  padding-bottom: 50px;
}
.about__container {
  display: flex;
  height: 675px;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/About_Background_Image.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.about__content {
  padding: 50px 45px 50px 50px;
  background-color: #ffffff;
  width: 791px;
  height: 475px;
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 15px solid #44c697;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about__content span {
  color: green;
}

.contact {
  height: 785px;
  background-color: #ffffff;
  margin: 100px 0;
}
.contact h2 {
  text-align: center;
  padding-bottom: 50px;
}
.contact__container {
  display: flex;
  height: 675px;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/Contact_Background_Image.jpg");
  background-position: left;
  background-repeat: no-repeat;
}
/* .contact__form {
  padding: 50px 50px 50px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
  width: 528px;
  height: 457px;
  border-left: 15px solid #44c697;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
} */

.contact__form {
  padding: 50px 50px 50px 45px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; */
  width: 528px;
  height: 457px;
  background-color: #ffffff;

  border-left: 15px solid #44c697;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__content > h5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
}
.form__content > h5 > span {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
}
.form__title {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;

  color: #1e2e36;
  margin-bottom: 30px;
}

.inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form__inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #1e2e36;
  font-size: 18px;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.form__btn {
  margin-bottom: 30px;
}
.form__btn .btn {
  width: 100%;
  height: 51px;
  padding: 14px auto;
  font-size: 18px;
  text-transform: uppercase;
  background: #44c697;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
}

.form__inputfield .btn:hover {
  background: #ffd658;
}

.form__inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .form__inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__inputfield label {
    margin-bottom: 5px;
  }
  .form__inputfield.terms {
    flex-direction: row;
  }
}

.footer {
  height: 520px;
  background-image: url("../img/Footer_Background_Image.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  color: #ffffff;
}
.footer__container {
  width: 831px;
  height: 520px;
  background-color: #1e2e36;
  padding: 50px 50px 15px 50px;
}
.footer__logo {
  margin-bottom: 50px;
}
.footer__content {
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 170px;
}

.footer__column > a {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;

  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
}
.footer__column > a:not(:last-child) {
  margin-bottom: 15px;
}
.footer__column > a > span {
  color: #44c697;
}
.footer__column-contacts > a,
.footer__column-contacts > p {
  margin-left: 40%;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.footer__copyright {
  margin-bottom: -10px;
}
.footer__copyright-body {
  font-size: 14px;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.footer__copyright-body > :first-child {
  margin-right: auto;
}
.footer__copyright-body > img {
  margin-right: 3px;
}
