/* --------------General style reset---------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #1e2e36;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
html,
body {
  height: 100%;
  line-height: 1;
  background-color: #ffffff;
  font-size: 24px;
  color: #1e2e36;
  font-weight: bold;
  font-family: "Proxima Nova Regular";
}

/* CSS Code for the project */

/* General Containers */

._outside-resize-box {
  max-width: 1900px;
  margin: 0 auto;
}

._outside-images-box {
  max-width: 2000px;
  margin: 0 auto;
}

._container {
  max-width: 1848px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

/* Header */

.header {
  height: 165px;
  background-color: #ffffff;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
}
.header-top {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-top__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-top__socials a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 5px;
}
.header-top__socials > a:hover {
  filter: invert(65%) sepia(16%) saturate(1250%) hue-rotate(107deg)
    brightness(98%) contrast(99%);
}
.header-top__phone {
  position: relative;
  margin-left: 50px;
}
.header-top__phone > a {
  padding: 0 25px;
}
.header-top__phone > a:hover {
  filter: invert(65%) sepia(16%) saturate(1250%) hue-rotate(107deg)
    brightness(98%) contrast(99%);
}
.header-top__phone > a::before {
  position: absolute;
  left: 0;
  font-family: "icomoon";
  content: "\e906";
}
.header-top__phone > a::after {
  position: absolute;
  right: 0;
  font-family: "icomoon";
  content: "\e900";
}

.header-top__nav {
  margin-left: auto;
  display: flex;
}

.header-top__nav li:not(:last-child) {
  padding-right: 15px;
}
.header-top__nav a:hover {
  border-bottom: 3px #44c697 solid;
}
.header-top__nav li {
  display: inline;
}
.header-top__hamburger {
  display: none;
}

.header__line {
  height: 1px;
  width: 100%;
  background-color: #1e2e36;
  opacity: 0.6;
}
.header-bottom {
  display: flex;
  justify-content: center;
  height: 105px;
  align-items: center;
}

.header-bottom__logo {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.header-bottom__logo > h3 {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  text-transform: none;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
  display: inline;
  text-align: center;
  line-height: 75px;
  padding-left: 10px;
}
.header-bottom__logo > h3 > span {
  color: #44c697;
}
.header-bottom__categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-bottom__categories-list > li > a {
  padding-right: 20px;
}
.header-bottom__categories-list > li:not(:last-child) {
  margin-right: 20px;
}
.header-bottom__categories-list > li {
  position: relative;
}
.header-bottom__categories-list > li > a::after {
  position: absolute;
  right: 0;
  font-family: "icomoon";
  content: "\e900";
}
.header-bottom__categories-list > li > a:hover {
  filter: invert(65%) sepia(16%) saturate(1250%) hue-rotate(107deg)
    brightness(98%) contrast(99%);
}
.header-bottom__cashout {
  line-height: 50px;
}
.header-bottom__basket {
  padding-left: 40px;
  position: relative;
}
.header-bottom__basket::before {
  position: absolute;
  left: 0;
  font-family: "icomoon";
  content: "\e907";
  font-size: 28px;
}
.header-bottom__basket:hover {
  color: #44c697;
}
.header-bottom__categories-hidden {
  display: none;
  padding-right: 20px;
  position: relative;
}
.header-bottom__categories-hidden::after {
  position: absolute;
  right: 0;
  font-family: "icomoon";
  line-height: 20px;
  content: "\e900";
}
.header-bottom__call-btn {
  background-color: #44c697;
  border-radius: 3px;
  width: 278px;
  height: 51px;
  padding: 14px 46px;
  margin-left: 30px;
  line-height: 50px;
  color: #ffffff;
}

@media (max-width: 1500px) {
  .header-bottom__logo > h3 {
    display: none;
  }
  .header {
    font-size: 16px;
  }
  .header-bottom__categories-list > li:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1300px) {
  .header-top__socials-text {
    display: none;
  }
}

@media (max-width: 1175px) {
  .header-bottom__basket-text {
    display: none;
  }
  .header-bottom__basket {
    margin-left: 50px;
  }
}
@media (max-width: 1100px) {
  .header-bottom__categories-list {
    display: none;
  }
  .header-bottom__categories-hidden {
    display: inline;
    margin-right: 170px;
  }
}

@media (max-width: 1000px) {
  .header-top__phone {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-top__phone {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-bottom__call-btn {
    display: none;
  }
  .header-bottom__basket-text {
    display: inline;
  }
  .header-bottom__categories-hidden {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .header-top__socials {
    display: none;
  }
  .header-top__nav {
    justify-content: center;
    margin: 0;
  }
  .header-top__nav > ul {
    text-align: center;
  }
  .header-top__nav > ul > li {
    flex-shrink: inherit;
  }
  .header-top {
    justify-content: center;
  }
  .header-bottom {
    padding: 0 20px;
  }
}

@media (max-width: 620px) {
  .header-top__nav {
    display: none;
  }
  .header-top {
    justify-content: space-between;
  }
  .header-top__socials {
    display: inline-block;
  }
  .header-top__hamburger {
    font-size: 24px;
    font-weight: bold;
    display: inline;
  }
  .header-bottom__logo > img {
    height: 60px;
  }
}

@media (max-width: 520px) {
  .header-bottom__logo {
    display: none;
  }
  .header-bottom {
    justify-content: space-between;
  }
  .header-bottom__basket {
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .header-bottom__basket-text {
    display: none;
  }
}

/*   Slider    */

.slider {
  height: 785px;
  background-image: url("../img/Slider_Background_Image.jpg");
  background-size: cover;
}
.slider__container {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}
.slider__content {
  background-color: #ffffff;
  height: 670px;
  width: 462px;
  padding: 100px 75px;
  border-left: 15px solid #44c697;
}

.slider__btns-block {
  margin-bottom: 100px;
}

.slider__title {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #1e2e36;
  text-align: center;
}
.slider__subtitle {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.slider__desc {
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
  text-align: center;
}
.slider__item-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.slider__item-btn > a {
  background-color: #44c697;
  font-size: 18px;
  font-weight: bold;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  line-height: 125%;
  border-radius: 3px;
  width: 209px;
  height: 51px;
  padding: 14px 46px;
  line-height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__btns-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.slider__count {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}
.slider__count > span {
  font-size: 36px;
  line-height: 125%;
}
.slider__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btns > a {
  border: 1px #1e2e36 solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 18px;
}
.slider__btn-left {
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn-right {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btns > a:hover {
  background-color: #1e2e36;
  color: #ffffff;
}

@media (max-width: 768px) {
  .slider {
    background-position: bottom;
  }
}

@media (max-width: 550px) {
  .slider__container {
    justify-content: center;
  }
  .slider__container {
    opacity: 0.85;
  }
  .slider {
    height: fit-content;
  }
}

@media (max-width: 520px) {
  .slider__desc > p {
    font-size: 30px;
    display: inline block;
    text-align: center;
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .slider__content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .slider__container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  .slider__title {
    font-size: 56px;
  }
  .slider__subtitle {
    font-size: 32px;
  }
}

/* Benefits  */

.benefits {
  max-height: 462px;
  margin: 100px auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;

  line-height: 125%;
}

.title > h2 {
  display: inline;
  position: relative;
  z-index: 55;
}
.title > h2::before {
  background-color: #44c697;
  width: 20px;
  position: absolute;
  left: -5px;
  height: 1.15em;
  z-index: -8;
  content: "";
  text-align: center;
}

.benefits__slider {
  display: flex;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.benefits__item {
  width: 100%;
  height: 350px;
  font-size: 18px;
  line-height: 125%;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  color: #ffffff;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.benefits__item > .benefits__item-title > h3 {
  display: inline;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  border-bottom: #44c697 3px solid;
}
.benefits__item > p {
  margin-top: 15px;
  display: none;
}
.benefits__item:hover > p {
  display: block;
}
.benefits__arrow {
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits__arrow > i {
  font-size: 18px;
}
.benefits__arrow:hover {
  background: #ffffff;
  color: #1e2e36;
}
.benefits__arrow-left {
  margin: 160px 0 160px 15px;
  top: 0;
  left: 0;
}
.benefits__arrow-right {
  margin: 160px 15px 160px 0;
  top: 0;
  right: 0;
}
.benefits__item1 {
  margin-right: 15px;
  background-image: url("../img/Benefits_Card_Image_1_Overlayed.jpg");
  background-position: center;
}

.benefits__item2 {
  margin-left: 15px;
  margin-right: 15px;
  background-image: url("../img/Benefits_Card_Image_2_Overlayed.jpg");
  background-position: center;
}

.benefits__item3 {
  margin-left: 15px;
  background-image: url("../img/Benefits_Card_Image_3_Overlayed.jpg");
  background-position: center;
}

.benefits__item:hover {
  cursor: pointer;
}

.benefits__item > p:hover {
  display: block;
}

@media (max-width: 1220px) {
  .benefits__item2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .benefits__item > .benefits__item-title > h3 {
    font-size: 30px;
  }
  .benefits__item3 {
    margin-left: 10px;
  }
  .benefits__item1 {
    margin-right: 10px;
  }
}

@media (max-width: 890px) {
  .benefits__item > .benefits__item-title > h3 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .benefits__item1 {
    display: none;
  }
  .benefits__item3 {
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
  }
}

@media (max-width: 396px) {
  .benefits__item > p {
    font-size: 12px;
  }
  .benefits__item > .benefits__item-title > h3 {
    font-size: 20px;
  }
}

@media (max-width: 367px) {
  .categories__container {
    padding-top: 60px;
  }
}

/* Categories */

.categories {
  max-height: 1208px;
  margin: 100px auto 35px auto;
}
.categories__columns {
  min-height: 143px;

  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px auto;

  display: flex;
  flex-wrap: wrap;
}
.categories__column > img {
  max-height: 100px;
  margin-top: 10px;
}
.categories__column {
  min-width: 143px;
  display: flex;
  flex-direction: column;
  border-bottom: transparent 2px solid;
}
.categories__column:hover {
  cursor: pointer;
}

.categories__column > h4 {
  display: inline;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;

  line-height: 2rem;
  line-height: normal;
  color: #1e2e36;
  padding-top: 10px;
  padding-bottom: 10px;
}
.categories__column:hover .categories__icon {
  filter: invert(65%) sepia(16%) saturate(1250%) hue-rotate(107deg)
    brightness(98%) contrast(99%);
}
.categories__column:hover {
  border-bottom: #44c697 2px solid;
}

.shop-cards__boxes-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.shop-cards__box {
  margin: 50px 15px 0 15px;
  cursor: pointer;
}
.shop-cards__info {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-cards__image {
  position: relative;
}
.shop-cards__image > img {
  width: 100%;
}

.shop-cards__overlay {
  height: 33px;
  background-color: #1e2e36;
  color: #ffffff;
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;

  text-transform: uppercase;
  position: absolute;
  top: 10px;
  padding: 0 15px;
}

.overlay-discount {
  height: 33px;
  min-width: 84px;
  background-color: #ff1b1b;
  position: absolute;
  top: 50px;
}

.shop-cards__info > h4 {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}
.shop-cards__discount-price {
  color: #ff1b1b;
}
.shop-cards__old-price {
  font-size: 18px;
  color: #bcbdbb;
  text-decoration-line: line-through;
  padding-left: 5px;
}
.shop-cards__btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.shop-cards__btn > a {
  background-color: #44c697;
  font-size: 18px;
  font-weight: bold;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  line-height: 125%;
  border-radius: 3px;
  width: 190px;
  height: 51px;
  padding: 14px 46px;
  line-height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-cards__box:hover {
  background-color: #44c697;
  color: #ffffff;
  transform: translateY(-20px);
}

@media (max-width: 500px) {
  .shop-cards__info > h4 {
    font-size: 18px;
  }
  .shop-cards__price {
    font-size: 18px;
  }
  .shop-cards__old-price {
    font-size: 14px;
  }
}

@media (max-width: 395px) {
  .shop-cards__info {
    padding: 10px 5px;
  }
  .shop-cards__info > h4 {
    font-size: 16px;
  }
  .shop-cards__price {
    font-size: 14px;
  }
  .shop-cards__old-price {
    font-size: 10px;
  }
}

/* About Us */

.about {
  background-color: #ffffff;
  margin: 100px 0;
}
.about h2 {
  text-align: center;
  padding-bottom: 50px;
}
.about__container {
  display: flex;
  min-height: 675px;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/About_Background_Image.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.about__content {
  padding: 50px 45px 50px 50px;
  background-color: #ffffff;
  width: 791px;
  min-height: 475px;
  font-family: "Proxima Nova Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  color: #1e2e36;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 15px solid #44c697;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about__content > p:not(:last-child) {
  padding-bottom: 15px;
}
.about__content span {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  text-transform: uppercase;
  color: #44c697;
}

@media (max-width: 800px) {
  .about__container {
    background-image: none;
    min-height: fit-content;
  }
  .about__body > .title {
    margin-bottom: 0px;
  }
}
@media (max-width: 425px) {
  .about__content > p {
    font-size: 14px;
  }
}

/* Contact Form */

.contact {
  max-height: 785px;
  background-color: #ffffff;
  margin: 100px 0;
}
.contact > .title > h2 {
  padding-bottom: 50px;
  text-align: center;
}

.contact__container {
  display: flex;
  min-height: 675px;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/Contact_Background_Image.jpg");
  background-position: left;
  background-repeat: no-repeat;
}

.contact__form {
  padding: 50px 50px 50px 45px;
  width: 528px;
  min-height: 457px;
  background-color: #ffffff;

  border-left: 15px solid #44c697;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__content > h5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
}
.form__content > h5 > span {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
}
.form__title {
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 36px;

  color: #1e2e36;
  margin-bottom: 30px;
}

.inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form__inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #1e2e36;
  font-size: 18px;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.form__btn {
  margin-bottom: 30px;
}
.form__btn .btn {
  width: 100%;
  height: 51px;
  padding: 14px auto;
  font-size: 18px;
  text-transform: uppercase;
  background: #44c697;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
}

.form__inputfield .btn:hover {
  background: #ffd658;
}

.form__inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .contact {
    margin-top: 50px;
  }
}

@media (max-width: 550px) {
  .contact__container {
    background-image: none;
    min-height: fit-content;
  }
  .contact h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .form__inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__inputfield label {
    margin-bottom: 5px;
  }
  .form__inputfield.terms {
    flex-direction: row;
  }
}

/* Footer */

.footer {
  height: 520px;
  background-image: url("../img/Footer_Background_Image.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  color: #ffffff;
  position: relative;
}
.footer__container {
  max-width: 831px;
  min-height: 520px;
  background-color: #1e2e36;
  padding: 50px 50px 15px 50px;
}

.footer__go-back-btn {
  position: absolute;
  left: 36px;
  top: -10px;
  background-color: #44c697;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.footer__go-back-btn > a > i {
  line-height: 50px;
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 50px;
}
.footer__logo > h3 {
  display: inline;
  color: #ffffff;

  font-family: "Proxima Nova Bold";
  font-weight: bold;
  text-transform: none;
  font-size: 36px;
  line-height: 125%;

  display: inline;
  text-align: center;
  line-height: 75px;
  padding-left: 10px;
}
.footer__logo > h3 > span {
  color: #44c697;
}

.footer__content {
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-start;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 170px;
}

.footer__column > a {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;

  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
}
.footer__column > a:not(:last-child) {
  margin-bottom: 15px;
}
.footer__column > a > span {
  color: #44c697;
}

.footer__column-contacts {
  margin-left: 10%;
}

.footer__column-contacts > a,
.footer__column-contacts > p {
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.footer__column-contacts > a > i {
  margin-right: 10px;
}
.footer__column-contacts > .footer__without-an-icon {
  padding-left: 28px;
}
.footer__column-contacts > p {
  margin-top: 30px;
}
.footer__social-icons {
  display: flex;
  align-items: center;
}
.footer__social-icons > a {
  color: #ffffff;
  padding-right: 30px;
  padding-top: 20px;
}
.footer__social-icons > a:hover {
  filter: invert(65%) sepia(16%) saturate(1250%) hue-rotate(107deg)
    brightness(200%) contrast(99%);
}

.footer__column > a:hover {
  color: #44c697;
}

.footer__copyright {
  margin-top: 50px;
  margin-bottom: -10px;
}
.footer__copyright-body {
  font-size: 14px;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer__copyright-body > img {
  margin-right: 3px;
}

@media (max-width: 750px) {
  .footer__logo {
    text-align: center;
  }

  .footer__content {
    justify-content: space-evenly;
  }

  .footer__content {
    flex-wrap: wrap;
  }
  .footer__column-contacts {
    flex-basis: 100%;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 auto;
  }
  .footer__column-contacts > p {
    display: none;
  }
  .footer__social-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto 15px auto;
  }
  .footer__social-icons > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 650px) {
  .footer__copyright {
    margin-top: 20px;
  }
  .footer__copyright-body {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__copyright-body > span {
    line-height: 1.25rem;
  }
  .footer__logo {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .footer__column:not(:last-child) {
    display: none;
  }
  .footer__logo {
    margin-bottom: 15px;
  }
}

@media (max-width: 460px) {
  .footer__column-contacts {
    margin-top: 20px;
  }
}

@media (max-width: 390px) {
  .footer__copyright-body > span {
    font-size: 12px;
  }
  .footer__container {
    padding: 50px 25px 10px 25px;
  }
}
